<%= render "welcome/menu" %>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Platforms</h1>
        <p class="lead text-muted">Platform Management.</p>
        <p>
            <%= link_to 'New Platform', new_platform_path, class: "btn btn-success my-2" %>
            <%= link_to 'Home', root_path, class: "btn btn-primary my-2" %>
        </p>
      </div>
    </div>
  </section>

  <section class="py-5 text-center container">

    <table class="table table-bordered">

        <tr style="text-align:center;">
            <th>ID</th>
            <th>Platform</th>
            <th>Actions</th>
        </tr>

        <tbody>

            <% @platforms.each do |platform| %>
                <tr style="text-align:center;">
                    <td><%= platform.id %></td>
                    <td><%= platform.name %></td>
                    <td><%= link_to "Edit", edit_platform_path(platform), class: "btn btn-sm btn-warning" %>
                        <%= link_to "Destroy", platform_path(platform), 
                        method: :delete,
                        data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
                    </td>                      
                </tr>
            <% end %>

        </tbody>

    </table>

  </section>
</main>
