<main>
  <section class="py-2 container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        
        <h1 class="fw-light">New  Book</h1>
        
        <div style="margin-top: 2em;">

          <%= form_with model: @book, class:"form-inline" do |form| %>        

            <div class="mb-1">
                                
              <%= form.label :name, class:"col-sm-2 col-form-label" %>

              <div class="col-sm-10">
                <%= form.text_field :name, class:"form-control" %>
              </div>

              <% @book.errors.full_messages_for(:name).each do |message| %>
                    <div style="margin: 1em;0;0;1em" class="alert alert-danger alert-dismissible fade show" role="alert" role="alert"><%= message %></div>
              <% end %>

            </div>

            <div class="mb-1"> 

              <%= form.label :price, class:"col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <%= form.number_field :price, class:"form-control"  %>
              </div>

              <% @book.errors.full_messages_for(:price).each do |message| %>
                <div style="margin: 1em;0;0;1em" class="alert alert-danger alert-dismissible fade show" role="alert" role="alert"><%= message %></div>
              <% end %>

            </div>

            <div class="mb-1">
                                
              <%= form.label :author, class:"col-sm-2 col-form-label" %>

              <div class="col-sm-10">
                <%= form.text_field :author, class:"form-control" %>
              </div>

              <% @book.errors.full_messages_for(:author).each do |message| %>
                    <div style="margin: 1em;0;0;1em" class="alert alert-danger alert-dismissible fade show" role="alert" role="alert"><%= message %></div>
              <% end %>

            </div>

            <div class="mb-1">                                  
              <%= form.label :description, class:"col-sm-2 col-form-label" %>

              <div class="col-sm-10">
                <%= form.text_area :description, class:"form-control" %>
              </div>

              <% @book.errors.full_messages_for(:description).each do |message| %>
                <div style="margin: 1em;0;0;1em" class="alert alert-danger alert-dismissible fade show" role="alert" role="alert"><%= message %></div>
              <% end %>

            </div>

            <div class="mb-1">
                                
              <%= form.label :editor, class:"col-sm-2 col-form-label" %>

              <div class="col-sm-10">
                <%= form.text_field :editor, class:"form-control" %>
              </div>

              <% @book.errors.full_messages_for(:editor).each do |message| %>
                    <div style="margin: 1em;0;0;1em" class="alert alert-danger alert-dismissible fade show" role="alert" role="alert"><%= message %></div>
              <% end %>

            </div>

            <div class="mb-1">    

              <%= form.label :company_id, class:"col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <%= form.select :company_id, Company.all.collect { |c| [ c.name, c.id ] }, { :include_blank => true }, {:class => 'form-select', 'aria-label' => 'Select Company'} %>
              </div>

              <% @book.errors.full_messages_for(:company_id).each do |message| %>
                    <div style="margin: 1em;0;0;1em" class="alert alert-danger alert-dismissible fade show" role="alert" role="alert"><%= message %></div>
              <% end %>

            </div>

            <div class="mb-1">    

              <%= form.label :category_id, class:"col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <%= form.select :category_id, Category.all.collect { |cat| [ cat.name, cat.id ] }, { :include_blank => true }, {:class => 'form-select', 'aria-label' => 'Select Category'} %>
              </div>

              <% @book.errors.full_messages_for(:category_id).each do |message| %>
                    <div style="margin: 1em;0;0;1em" class="alert alert-danger alert-dismissible fade show" role="alert" role="alert"><%= message %></div>
              <% end %>

            </div>

            <div style="mb-2">
                <%= form.submit "Submit", class: "btn btn-default btn-success" %>
                <%= link_to 'Back', books_path, class: "btn btn-primary" %>
            </div>

            </div>

          <%end%>
        </div>
      </div>
    </div>
  </section>
</main>