<%= render "welcome/menu" %>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Books</h1>
        <p class="lead text-muted">Book Management.</p>
        <p>
            <%= link_to 'New Book', new_book_path, class: "btn btn-success my-2" %>
        </p>
      </div>
    </div>
  </section>

  <section class="py-5 text-center container">

    <table class="table table-bordered">

        <tr style="text-align:center;">
            <th>ID</th>
            <th>Book</th>
            <th>Price</th>
            <th>Author</th>
            <th>Editor</th>
            <th>Description</th>
            <th>Company</th>
            <th>Actions</th>
        </tr>

        <tbody>

            <% 
            
            #@showbooks = book.includes(:company => :platform)
            @books.each do |book| 
            
            %>
              
                <tr style="text-align:center;">
                    <td><%= book.id %></td>
                    <td><%= book.name %></td>
                    <td><%= book.price %></td>
                    <td><%= book.author %></td>
                    <td><%= book.editor %></td>
                    <td><%= book.description %></td>
                    <td><%= book.company_id %></td>
                      <td><%= link_to "Edit", edit_book_path(book), class: "btn btn-sm btn-warning" %>
                        <%= link_to "Destroy", book_path(book), 
                        method: :delete,
                        data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
                    </td>                      
                </tr>
            <% end %>       

        </tbody>

    </table>

  </section>
</main>
